<div class="container">
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2>Editing Book</h2>
        <%= form_for(@book) do |f| %>
        <h5>Title</h5>
        <%= f.text_field :title %>
        <h5>Opinion</h5>
        <%= f.text_area :body %>
        <%= f.submit "Update Book", class:"btn btn-block btn-primary" %>
        <% end %>
        <%= link_to "Show", @book, class: "book_#{@book.id}" %>
        <%= link_to "Back", books_path, class: "back" %>
    </div>
    <div class="col-md-3"></div>
</div>K	
</div>

    <% if @book.errors.any? %>
      <%= @book.errors.count %>error
      <%= @book.errors.full_messages.each do |msg| %>
       <%= msg %>
      <% end %>
    <% end %>
